### What questions do I want to answer

Random test to see if my git ignore worked.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [26]:
team_stats = pd.read_csv('team_stats.csv', index_col=0)
player_stats = pd.read_csv('player_stats.csv', index_col=0)

In [27]:
# check out team_stats

team_stats.columns

Index(['name', 'country', 'total_maps', 'kd_diff', 'kd', 'rating'], dtype='object')

In [28]:
team_stats.head()

          name    country  total_maps  kd_diff    kd  rating
0    Grayhound  Australia         553     7229  1.16    1.07
1        Recca  Indonesia         280     1816  1.08    1.07
2        Kings  Australia         122     1922  1.20    1.07
3        Flash      China         316     1559  1.06    1.07
4  DarkPassage     Turkey         122     1177  1.11    1.06

In [29]:
player_stats.head()

,name,country,teams,total_maps,total_rounds,kd_diff,kd,rating
0,ZywOo,France,"['Vitality', 'aAa']",854,22399,5248,1.38,1.28
1,s1mple,Ukraine,"['Natus Vincere', 'FlipSid3']",1429,37717,8070,1.33,1.25
2,deko,Russia,['1WIN'],190,5096,1250,1.42,1.24
3,saffee,Brazil,['paiN'],202,5383,1211,1.37,1.24
4,sh1ro,Russia,"['Gambit', 'Gambit Youngsters']",744,19780,4593,1.43,1.22

In [31]:
player_stats['country'].unique()

array(['France', 'Ukraine', 'Russia', 'Brazil', 'Malaysia', 'New Zealand',
       'United Kingdom', 'Germany', 'South Africa', 'Turkey', 'Japan',
       'China', 'Argentina', 'Denmark', 'Romania', 'Korea', 'Indonesia',
       'Hungary', 'Bosnia and Herzegovina', 'Singapore', 'Australia',
       'Mongolia', 'Sweden', 'Czech Republic', 'Poland', 'Chile', 'Spain',
       'Slovakia', 'Netherlands', 'Bulgaria', 'Latvia', 'Hong Kong',
       'Canada', 'Finland', 'Estonia', 'United States', 'Thailand',
       'Portugal', 'Albania', 'India', 'Slovenia', 'Belgium', 'Vietnam',
       'United Arab Emirates', 'Philippines', 'Kyrgyzstan', 'Tunisia',
       'Belarus', 'Uruguay', 'Peru', 'Lithuania', 'Israel', 'Serbia',
       'Norway', 'Kazakhstan', 'Jordan', 'Colombia', 'Montenegro',
       'Croatia', 'Guatemala', 'Mexico', 'Switzerland', 'Macedonia',
       'Austria', 'Lebanon', 'Taiwan', 'Ireland', 'Iraq', 'Azerbaijan',
       'Uzbekistan', 'Italy', 'Greece'], dtype=object)